.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/

saved_model/
*.hdf5

*/mnist/**

*.pyc
*.p
*.pkl
*.zip
*.tar.gz
*.pickle

*/.floyd*

.github/**
